@font-face {
    font-family: "Helvetica";
    src: 
        url("fonts/Helvetica.woff") format("woff"),
        url("fonts/Helvetica-Bold.woff") format("woff"),
        url("fonts/Helvetica-BoldOblique.woff") format("woff"),
        url("fonts/helvetica-compressed-5871d14b6903a") format("woff"),
        url("fonts/helvetica-light-587ebe5a59211") format("woff"),
        url("fonts/Helvetica-Oblique") format("woff"),
        url("helvetica-rounded-bold-5871d05ead8de") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-bg-color: black;
    --primary-color: #ffe100;
    --const-primary-bg-color: black;
    --const-primary-color: #ffe100;
}

html, body {
    font-family: "helvetica";
    background-color: var(--primary-bg-color);
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
}

body.loaded {
    opacity: 1;
}

header {
    width: 94%;
    justify-items: center;
}

nav {
    width: 90vw;
    align-items: center;
    gap: 15px;
    height: 80px;
    display: flex;
    font-weight: 100;
}

nav a {
    text-decoration: none;
}

.nav-socials {
    display: inline-block;
}

.masthead-main {
    height: 91vh;
    width: 100%;
    background-image: url(images/masthead.png);
    background-size: cover;
    align-content: center;
    background-position-y: 55%;
    justify-items: center;
}

.masthead {
    height: 50vh;
    width: 100%;
    background-size: cover;
    align-content: center;
    background-position-y: 55%;
    background-position-x: center;
}

.masthead h1, .masthead h2, .masthead h3 {
    justify-self: center;
}


.masthead-desc {
    font-family: "helvetica";
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.7em;
    font-style: oblique;
    margin: 0;
    padding-top: 15px;
}

.masthead-desc-scroll {
    font-family: "helvetica";
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.7em;
    font-style: oblique;
    margin: 0;
    padding-top: 15px;
}

.masthead-desc-sub {
    font-family: "helvetica";
    color: var(--primary-color);
    margin-top: 5px;
    font-weight: 100;
}

.masthead-scroll {
    font-family: "helvetica";
    font-weight: 100;
    letter-spacing: 4.5px;
    font-size: 5em;
    line-height: 0.5;
    text-decoration: none;
}


.masthead-title {
    font-family: "helvetica";
    color: var(--const-primary-color);
    font-size: 7em;
    margin-top: 10vh;
    margin-bottom: 0;
    line-height: .9em;
}

.masthead-tagline {
    color: var(--const-primary-color);
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
}

.masthead-desc-sub a {
    padding-left: 0;
}

header a {
    font-family: "helvetica";
    color: var(--primary-color);
    font-size: 1.1em;
}


.header-social-hover {
    padding-left: 10px;
    position: relative;
    display: inline-block;
}

.header-social-hover img {
    position: absolute;
    margin-top: -21px;
}

.header-social-hover .img-hover {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header-social-hover:hover .img-hover {
    opacity: 1;
}

.pages-page-hover {
    position:relative;
    width: 100%;
    height: 100%;
}

.pages-page-hover a {
    position: absolute;
    height: 97%;
    align-content:flex-end;
    width: 100%;
}

.pages-page-hover .img {
    opacity: 1;
}

.pages-page-hover .img-hover {
    margin: 0;
    opacity: 0;
}

.pages-page-hover:hover .img {
    opacity: .5;
    border: 1px solid var(--primary-color);
}

.pages-page-hover:hover .img-hover {
    opacity: 1;
}





.header-logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 89px;
}

.pages {
    width: 97%;
    justify-self: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.page {
    flex: 1;
    min-width: 0;
    flex-basis: calc((100% / 3) - (18px * 3 / 4)); 
    aspect-ratio: 1 / 1;
}



.page a {
    text-decoration: none;
}

.page h1 {
    color: var(--primary-color);
    font-weight: 100;
    font-size: 3em;
}

.page h2 {
    color: var(--primary-color);
    font-weight: 100;
    font-style: oblique;
    font-size: 1em;
}

.page img {
    margin: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.page-end {
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    align-content: center;
    text-align: center;
}

.page-end h1 {
    padding: 0;
    margin-top: 0;
}

.button {
    width: 200px;
    padding: 15px;
    font-family: "helvetica";
    font-size: 1.3em;
    font-weight: 100;
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
    border: 1px solid var(--primary-color);
}

.button:hover {
    cursor: pointer;
}

.masthead-button {
    width: 200px;
    padding: 15px;
    font-family: "helvetica";
    font-size: 1.9em;
    font-weight: 100;
    /*font-style: oblique;*/
    background:none;
    color: var(--const-primary-color);
    border: 3px solid var(--const-primary-color);
    margin-top: 21%;
}

.masthead-button:hover {
    cursor: pointer;
}


.pictures {
    width: 97%;
    justify-self: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.pictures div {
    flex-basis: calc((100% / 3) - (18px * 3 / 4));
    min-width: 0;
}

.pictures div img {
    width: 100%;
    height: auto;
}

.logo {
    height: 130px;
}


footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-color);
    font-size: .8em;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer a {
    color: ffe100;
    text-decoration: underline;
}

footer a:any-link {
    color: var(--primary-color);
}

.about-body {
    margin-top: 20px;
    color: var(--primary-color);
    width: 90%;
    justify-self: center;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.about-body-module {
    flex: 1;
}

.about-body-module-text {
    max-width: 550px;
}

.about-body-module img {
    width: 100%;
    border: solid 2px var(--primary-color);
    min-width: 350px;
}

.about-body h1 {
    margin-top: 20px;
}

.about-body p {
    line-height: 1.3em;
}

.pages-page-hover a {
    text-align: center;
    align-content: center;
}


@media only screen and (max-width: 768px) {
    
    html, body {
        font-family: "helvetica";
        background-color: var(--primary-bg-color);
        width: 100vw;
        margin: 0;
        padding: 0;
        overscroll-behavior: none;
    }
    
    
    
    
    .masthead-main {
        height: 49vh;
        width: 100%;
        background-image: url(images/masthead.png);
        background-size: cover;
        background-position-y: 90%;
    }
    
    .masthead-title {
        font-size: 3em;
        margin-left: 30px;
    }
    
    .masthead-tagline {
        margin-left: 25px;
        font-size: 1.3em;
    }

    .masthead-desc {
        font-size: 1em;
        margin-left: 30px;
    }
    
    .masthead-desc-scroll {
        display: none;
    }
    
    .masthead-desc-sub {
        font-size: .8em;
        margin-left: 30px;
    }
    
    
    
    .page h1 {
        color: var(--primary-color);
        font-weight: 100;
        font-size: 1em;
        padding: 0;
        text-align: center;
    }

    .page h2 {
        color: var(--primary-color);
        font-weight: 100;
        font-style: oblique;
        font-size: .8em;
        padding: 0;
        justify-self: center;
    }
    
    .masthead-scroll {
        display: none;
    }
    
    .logo {
        height: 70px;
    }
    
    .nav-socials a img {
        height: 20px;
    }

    .header-logo {
        text-align: center;
        margin-top: 85px;
    }
    
    nav {
        width: 90%;
        margin-left: 5%;
        margin-right: 2%;
        height: 80px;
        font-weight: 100;
    }
    
    header {
        width: 100%;
    }
    
    .page-end {
        justify-items: center;
        align-content: center;
    }

    .button {
        width: 100px;
        padding: 10px;
        font-family: "helvetica";
        font-size: 1em;
        font-weight: 100;
        background-color: var(--primary-color);
        color: var(--primary-bg-color);
    }
    
    .masthead-button {
        margin-left: 30px;
    }
    
    footer {
        margin-top: 5px;
        margin-bottom: 0;
    }
    
    .masthead-desc-sub a {
        padding-left: 0;
    }
    
    .about-body-module-text {
        max-width: 2000px;
    }
    
}


